
	.containerfooter{
		max-width: 1170px;
		margin: auto;
	}

	.row{
		display: flex;
		flex-wrap: wrap;
	}

	ul{
		list-style: none;
	}

	.footer{
		background-color: #24262b;
		padding: 70px 0;
		line-height: 1.5;
		font-family: 'poppins', 'sans-serif';
	}

	.footer-col{
		width: 25%;
		padding: 0 15px;
	}

	.footer-col h4{
		font-size: 18px;
		color: #ffffff;
		text-transform: capitalize;
		margin-bottom: 30px;
		font-weight: 500;
		position: relative;
	}

	.footer-col h4::before{
		content: '';
		position: absolute;
		left: 0;
		bottom: -10px;
		background-color: #48D1CC;
		height: 2px;
		box-sizing: border-box;
		width: 50px;
	}

	.footer-col ul li{
		margin-bottom: 10px;
	}

	.footer-col ul li a{
		font-size: 16px;
		text-transform: capitalize;
		color: #ffffff;
		text-decoration: none;
		font-weight: 300;
		color: #979090;
		display: block;
		transition: all 0.3s ease;
	}

	.footer-col ul li a:hover{
		color: #ffffff;
		padding-left: 8px;
	}

	.social-links a{
		display: inline-block;
		height: 40px;
		width: 40px;
		background-color: rgba(255, 255, 255, 0.2);
		margin: 10px 10px 0;
		text-align: center;
		line-height: 40px;
		border-radius: 50%;
		color: #ffffff;
		transition: all 0.5s ease;
	}

	.social-links a:hover{
		color: #24262b;
		background-color: #ffffff;
	}

	@media(max-width:1280px){
		.footer-col{
			width: 50%;
			height: 50%;
			margin-left: 35%;
			margin-right: 25%;
			margin-bottom: 30px;
		}
	}

	@media(max-width:1280px){
		.social-links{
			width: 50%;
			height: 50%;
			margin-left: 25%;
			margin-right: 25%;
			margin-bottom: 30px;
		}
	}

	.footer-bottom{
		font-size: 11px;
		color: #ffffff;
		padding-top: 10%;
		text-align: center;
	}
