		
		@page{
			size: landscape;
		}

		.only-print{
    		display: none;
    	}

    	@media print {

    		.noprint{
    			display: none;
    		}
    		.only-print{
    			display: block;
    		}
    	}
